<!DOCTYPE html>
<html>
<head>
    <% include ../static/partials/head.ejs %>
</head>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
            <h2 class="page-header">Edit Wiki</h2>
        <form action="/wikis/<%= wiki.id %>/update" method="post">
            <div class="form-group">
                <label for="title">Wiki Title</label>
                <input value="<%= wiki.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp"
                    placeholder="Enter Title">
            </div>
            <div class="form-group">
                    <label for="private">Wiki Status</label>
                    <select class="form-control" name="private">
                        <option value="false">Public</option>
                        <option value="true">Private</option>
                    </select>
            </div>
            <button type="submit" class="btn btn-primary" id="signup-button">Update</button>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea rows="12" class="form-control" name="body" placeholder="Enter Body"><%= wiki.body %></textarea>
            </div>
                <% if(currentUser && (currentUser.role === "premium" || currentUser.role === 'admin') && wiki.userId === currentUser.id) { %>
                <% } %>
        </form>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>