<!DOCTYPE html>
<html>
<head>
    <% include ../static/partials/head.ejs %>
</head>
<body background="https://images.pexels.com/photos/746421/pexels-photo-746421.jpeg?cs=srgb&dl=cliffs-climbing-clouds-746421.jpg&fm=jpg">
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <% if(!currentUser) { %>
        <% } %>
        <ul class="list-group">
            <% wikis.forEach((wiki) => { %>
            <% if(wiki.private === false) { %>
            <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>">
                    <%- wiki.title %> </a>
            </li>
            <% } %>
            <% }) %>
        </ul>
        <small>Please sign up or sign in to create your own wiki topic. </small>
        <% if(currentUser) { %>
            <a href="/wikis/new" class="btn btn-success">add new wiki</a>
            <% } %>
    </main>
</body>
</html>