body {
    padding-top: 54px;
    background-image: url("https://images.pexels.com/photos/746421/pexels-photo-746421.jpeg?cs=srgb&dl=cliffs-climbing-clouds-746421.jpg&fm=jpg");
  }

.jumbotron my-4{
  margin-top: 5%;
  margin-bottom: 5%;
}
.display-3 {
  text-align: center;
}

.lead {
  text-align: center;
}

.card-title {
  padding: 1%;
}

.list-group{
  margin-top: 5%;
  margin-bottom: 5%;
}

.profile-header{
  margin-top: 5%;
  margin-bottom: 5%;
}

.profile-header-2{
  margin-bottom: 5%;
}

.downgrade {
  margin-top: 2%;
  margin-bottom: 2%;
}

.page-header {
  margin-top: 2%;
  margin-bottom: 2%;
}

#signup-button {
  margin-top: 2%;
  margin-bottom: 2%;
}

.input-group {
  margin-top: 2%;
  margin-bottom: 2%;
}