<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
    <% include ./partials/navbar.ejs %>
    <main class="container">
        <header class="jumbotron my-5">
            <h1 class="display-3">Welcome to Rockipedia</h1>
            <p class="lead">A global application for rock climbers to create and edit climbing wikis</p>
        </header>
        <section class="row text-center">
            <section class="col-lg-4">
                <h4 class="card-title">Create Wikis</h4>
                <p class="card-text">Create climbing wikis for local beta</p>
                <% if(currentUser && currentUser.role == "standard" || currentUser && currentUser.role == "premium") { %>
                <a href="/wikis" class="btn btn-primary">See Public Wikis</a>
                <% } %>
            </section>
            <section class="col-lg-4">
                <h4 class="card-title">Get Collaborative</h4>
                <p class="card-text">With all friends of any climbing skill level</p>
            <% if(currentUser) { %>
            <a href="/users/<%= currentUser.id %>/collaborations" class="btn btn-primary">See Collaborations</a>
            <% } %>
            </section>
            <section class="col-lg-4">
                <h4 class="card-title">Create Private Wikis</h4>
                <p class="card-text">Go Premium to edit private wikis</p>
        <% if(currentUser && currentUser.role != "standard") { %>
        <a href="/wikis/private" class="btn btn-primary">See Private Wikis</a>
        <% } %>
        <% if(currentUser && currentUser.role == "standard") { %>
        <a href="/users/<%= currentUser.id %>" class="btn btn-primary">Upgrade to Premium</a>
        <% } %>
            </section>
        </section>
    </main>
    <% include ./partials/baseScripts.ejs %>
</body>
</html>