<!DOCTYPE html>
<html>
<head>
    <% include ../static/partials/head.ejs %>
</head>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <h1>Hello
            <%= user.name %>!
        </h1>
        <h3>Your account is currently set to:
            <%= user.role %>
        </h3>
        <p>Need to downgrade?</p>
        <form action="/users/<%= user.id %>/downgrade" method="POST">
            <button type="Submit" class="btn btn-warning">Confirm account downgrade</button>
        </form>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>