<!DOCTYPE html>
<html>
<head>
    <% include ../static/partials/head.ejs %>
</head>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <h2 class="page-header">Sign up</h2>
        <form action="/users" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="passwordConfirmation">Password confirmation</label>
                <input type="password" class="form-control" name="passwordConfirmation" aria-describedby="passwordHelp"
                    placeholder="Enter password confirmation">
            </div>
            <button type="submit" class="btn btn-primary" id="signup-button">Sign up</button>
        </form>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>