<!DOCTYPE html>
<html>
<head>
    <% include ../static/partials/head.ejs %>
</head>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <h1>Hey
            <%= user.name %>!
        </h1>
        <h3>Your account is currently set to: 
            <%= user.role %>
        </h3>
        <p>Ready to upgrade? Fear not with our no contracts hassle-free guarantee!</p>        
<form action="/users/ <%=user.id %>/upgrade" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_fW76ZgiGxe40bb71ZXlUuOmr"
        data-amount="1500" data-name="Blocipedia" data-description="Testing payment" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto">
    </script>
</form>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>